* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Roboto Mono', monospace;
  }
  .container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "userList main";
      width: 100vw;
      height: 100vh;
      overflow: hidden;
  }
  .main {
    grid-area: main;
  }
  .disconnect-button {
    grid-area: userList;
    align-self: end;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
  }